In [3]:
# Dependencies
import requests
import csv
import json
import pandas as pd
from pathlib import Path

In [4]:
#read the csvs file into a data frame
national_data=Path('Resources/month_rev_each_state_df_FINALSET.csv')
national_df=pd.read_csv(national_data)
#national_df

             month        handle       revenue   hold        taxes
0        June 2018  3.096957e+08  2.463092e+07  0.080    2221650.0
1        July 2018  2.940068e+08  8.433994e+06  0.029     926804.0
2      August 2018  3.592757e+08  2.362588e+07  0.066    2524419.0
3   September 2018  8.176813e+08  9.535843e+07  0.117   12245073.0
4     October 2018  8.540141e+08  4.583239e+07  0.054    5217752.0
..             ...           ...           ...    ...          ...
57      March 2023  1.126833e+10  1.080077e+09  0.096  205091587.0
58      April 2023  9.096205e+09  8.536187e+08  0.094  169088943.0
59        May 2023  8.094432e+09  9.134034e+08  0.113  181662434.0
60       June 2023  6.567218e+09  5.434501e+08  0.083  113126813.0
61       July 2023  3.249348e+09  3.550874e+08  0.109   94750905.0

[62 rows x 5 columns]

In [6]:
#Change the date column to datetime format
national_df=national_df.astype({'month':'datetime64[D]'})
#national_df

        month        handle       revenue   hold        taxes
0  2018-06-01  3.096957e+08  2.463092e+07  0.080    2221650.0
1  2018-07-01  2.940068e+08  8.433994e+06  0.029     926804.0
2  2018-08-01  3.592757e+08  2.362588e+07  0.066    2524419.0
3  2018-09-01  8.176813e+08  9.535843e+07  0.117   12245073.0
4  2018-10-01  8.540141e+08  4.583239e+07  0.054    5217752.0
..        ...           ...           ...    ...          ...
57 2023-03-01  1.126833e+10  1.080077e+09  0.096  205091587.0
58 2023-04-01  9.096205e+09  8.536187e+08  0.094  169088943.0
59 2023-05-01  8.094432e+09  9.134034e+08  0.113  181662434.0
60 2023-06-01  6.567218e+09  5.434501e+08  0.083  113126813.0
61 2023-07-01  3.249348e+09  3.550874e+08  0.109   94750905.0

[62 rows x 5 columns]

In [7]:
#Change handle, revenue and taxes to dollar format
national_df['handle']=national_df['handle'].astype(float).map('${:,.2f}'.format)
national_df['revenue']=national_df['revenue'].astype(float).map('${:,.2f}'.format)
national_df['taxes']=national_df['taxes'].astype(float).map('${:,.2f}'.format)

#national_df

        month              handle            revenue   hold            taxes
0  2018-06-01     $309,695,659.00     $24,630,915.00  0.080    $2,221,650.00
1  2018-07-01     $294,006,820.00      $8,433,994.00  0.029      $926,804.00
2  2018-08-01     $359,275,692.00     $23,625,881.00  0.066    $2,524,419.00
3  2018-09-01     $817,681,310.00     $95,358,434.00  0.117   $12,245,073.00
4  2018-10-01     $854,014,077.00     $45,832,391.00  0.054    $5,217,752.00
..        ...                 ...                ...    ...              ...
57 2023-03-01  $11,268,331,139.00  $1,080,076,723.00  0.096  $205,091,587.00
58 2023-04-01   $9,096,204,901.00    $853,618,698.00  0.094  $169,088,943.00
59 2023-05-01   $8,094,431,592.00    $913,403,414.00  0.113  $181,662,434.00
60 2023-06-01   $6,567,218,270.00    $543,450,122.00  0.083  $113,126,813.00
61 2023-07-01   $3,249,347,777.00    $355,087,386.00  0.109   $94,750,905.00

[62 rows x 5 columns]

In [8]:
#Change the hold column to show as a percentage
national_df['hold']=national_df['hold'].apply(lambda x: "{:.2%}".format(x))
#national_df

        month              handle            revenue    hold            taxes
0  2018-06-01     $309,695,659.00     $24,630,915.00   8.00%    $2,221,650.00
1  2018-07-01     $294,006,820.00      $8,433,994.00   2.90%      $926,804.00
2  2018-08-01     $359,275,692.00     $23,625,881.00   6.60%    $2,524,419.00
3  2018-09-01     $817,681,310.00     $95,358,434.00  11.70%   $12,245,073.00
4  2018-10-01     $854,014,077.00     $45,832,391.00   5.40%    $5,217,752.00
..        ...                 ...                ...     ...              ...
57 2023-03-01  $11,268,331,139.00  $1,080,076,723.00   9.60%  $205,091,587.00
58 2023-04-01   $9,096,204,901.00    $853,618,698.00   9.40%  $169,088,943.00
59 2023-05-01   $8,094,431,592.00    $913,403,414.00  11.30%  $181,662,434.00
60 2023-06-01   $6,567,218,270.00    $543,450,122.00   8.30%  $113,126,813.00
61 2023-07-01   $3,249,347,777.00    $355,087,386.00  10.90%   $94,750,905.00

[62 rows x 5 columns]

In [9]:
national_df.to_csv('Resources/National_Revenue_Data_CLEAN.csv')

In [ ]:
# Function to convert a CSV to JSON
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
             
            #primary key
            key = rows['']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf:
        jsonf.write(json.dumps(data, indent=4))

In [ ]:
# Driver Code
 
# Decide the two file paths according to your
# computer system
csvFilePath = r'Resources/National_Revenue_Data_CLEAN.csv'
jsonFilePath = r'json/national_market.json'

In [ ]:
# Call the make_json function
make_json(csvFilePath, jsonFilePath)