In [1]:
# Dependencies
import requests
import csv
import json
import pandas as pd
from pathlib import Path

In [5]:
#read the csvs file into a data frame
team_data=Path('Resources/market_rev_teams_df_FINALSET.csv')
team_df=pd.read_csv(team_data)
team_df

   state_abbr                 state  Teams Count  MLB  NBA  NFL  NHL
0          AK                Alaska            0    0    0    0    0
1          AL               Alabama            0    0    0    0    0
2          AR              Arkansas            0    0    0    0    0
3          AZ               Arizona            4    1    1    1    1
4          CA            California           15    5    4    3    3
5          CO              Colorado            4    1    1    1    1
6          CT           Connecticut            0    0    0    0    0
7          DC  District of Columbia            3    1    1    0    1
8          DE              Delaware            0    0    0    0    0
9          FL               Florida            9    2    2    3    2
10         GA               Georgia            3    1    1    1    0
11         HI                Hawaii            0    0    0    0    0
12         IA                  Iowa            0    0    0    0    0
13         ID                 Idaho            0    0    0    0    0
14         IL              Illinois            5    2    1    1    1
15         IN               Indiana            2    0    1    1    0
16         KS                Kansas            0    0    0    0    0
17         KY              Kentucky            0    0    0    0    0
18         LA             Louisiana            2    0    1    1    0
19         MA         Massachusetts            4    1    1    1    1
20         MD              Maryland            3    1    0    2    0
21         ME                 Maine            0    0    0    0    0
22         MI              Michigan            4    1    1    1    1
23         MN             Minnesota            4    1    1    1    1
24         MO              Missouri            4    2    0    1    1
25         MS           Mississippi            0    0    0    0    0
26         MT               Montana            0    0    0    0    0
27         NC        North Carolina            3    0    1    1    1
28         ND          North Dakota            0    0    0    0    0
29         NE              Nebraska            0    0    0    0    0
30         NH         New Hampshire            0    0    0    0    0
31         NJ            New Jersey            3    0    0    2    1
32         NM            New Mexico            0    0    0    0    0
33         NV                Nevada            2    0    0    1    1
34         NY              New York            8    2    2    1    3
35         OH                  Ohio            6    2    1    2    1
36         OK              Oklahoma            1    0    1    0    0
37         OR                Oregon            1    0    1    0    0
38         PA          Pennsylvania            7    2    1    2    2
39         RI          Rhode Island            0    0    0    0    0
40         SC        South Carolina            0    0    0    0    0
41         SD          South Dakota            0    0    0    0    0
42         TN             Tennessee            3    0    1    1    1
43         TX                 Texas            8    2    3    2    1
44         UT                  Utah            1    0    1    0    0
45         VA              Virginia            0    0    0    0    0
46         VT               Vermont            0    0    0    0    0
47         WA            Washington            3    1    0    1    1
48         WI             Wisconsin            3    1    1    1    0
49         WV         West Virginia            0    0    0    0    0
50         WY               Wyoming            0    0    0    0    0

In [6]:
#read the csvs file into a data frame
state_data=Path('all_state_market_data_CLEAN.csv')
state_df=pd.read_csv(state_data)
state_df

,Unnamed: 0,state,state_abbr,date,handle,revenue,hold,taxes
0,0,Arkansas,AR,2019-07-01,"$416,160.00","$76,885.00",18.50%,"$9,995.00"
1,1,Arkansas,AR,2019-08-01,"$778,249.00","$58,858.00",7.60%,"$7,652.00"
2,2,Arkansas,AR,2019-09-01,"$2,252,196.00","$183,044.00",8.10%,"$23,796.00"
3,3,Arkansas,AR,2019-10-01,"$2,216,369.00","$380,006.00",17.10%,"$49,401.00"
4,4,Arkansas,AR,2019-11-01,"$2,978,235.00","$181,497.00",6.10%,"$23,595.00"
...,...,...,...,...,...,...,...,...
1105,1105,Wyoming,WY,2023-02-01,"$11,591,163.00","$1,106,141.00",9.50%,"$54,296.00"
1106,1106,Wyoming,WY,2023-03-01,"$14,777,639.00","$1,837,412.00",12.40%,"$130,677.00"
1107,1107,Wyoming,WY,2023-04-01,"$12,623,675.00","$1,264,212.00",10.00%,"$82,848.00"
1108,1108,Wyoming,WY,2023-05-01,"$12,778,371.00","$1,306,929.00",10.20%,"$81,448.00"
1109,1109,Wyoming,WY,2023-06-01,"$9,483,450.00","$775,389.00",8.20%,"$37,705.00"

In [8]:
#clean up columns to start with state and eliminate extra column
order=['state','state_abbr', 'handle', 'revenue','hold','taxes']
state_clean_df=state_df[order]
state_clean_df

         state state_abbr          handle        revenue    hold        taxes
0     Arkansas         AR     $416,160.00     $76,885.00  18.50%    $9,995.00
1     Arkansas         AR     $778,249.00     $58,858.00   7.60%    $7,652.00
2     Arkansas         AR   $2,252,196.00    $183,044.00   8.10%   $23,796.00
3     Arkansas         AR   $2,216,369.00    $380,006.00  17.10%   $49,401.00
4     Arkansas         AR   $2,978,235.00    $181,497.00   6.10%   $23,595.00
...        ...        ...             ...            ...     ...          ...
1105   Wyoming         WY  $11,591,163.00  $1,106,141.00   9.50%   $54,296.00
1106   Wyoming         WY  $14,777,639.00  $1,837,412.00  12.40%  $130,677.00
1107   Wyoming         WY  $12,623,675.00  $1,264,212.00  10.00%   $82,848.00
1108   Wyoming         WY  $12,778,371.00  $1,306,929.00  10.20%   $81,448.00
1109   Wyoming         WY   $9,483,450.00    $775,389.00   8.20%   $37,705.00

[1110 rows x 6 columns]

In [9]:
state_aggregated_df=state_clean_df.groupby('state').agg({'handle':'sum', 'revenue':'sum','hold':'mean','taxes':'sum'}).reset_index()
state_aggregated_df

TypeError: Could not convert 11.10%7.70%11.00%8.00%7.40%5.20%5.60%5.90%12.20%4.00%7.80%10.30%10.50%8.00%9.10%9.70%8.00%5.80%8.30%9.20%10.90%7.20% to numeric

In [3]:
#Change handle, revenue and taxes to dollar format
team_df['handle']=team_df['handle'].astype(float).map('${:,.2f}'.format)
team_df['revenue']=team_df['revenue'].astype(float).map('${:,.2f}'.format)
team_df['taxes']=team_df['taxes'].astype(float).map('${:,.2f}'.format)

team_df

,state_abbr,state,handle,revenue,hold,taxes,Teams Count,MLB,NBA,NFL,NHL,MLS,NCAA
0,AK,Alaska,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,Alabama,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AR,Arkansas,"$486,217,898.00","$49,119,871.00",0.101,"$7,134,908.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AZ,Arizona,"$11,005,985,362.00","$907,366,992.00",0.082,"$51,509,590.00",4.0,1.0,1.0,1.0,1.0,0.0,0.0
4,CA,California,$0.00,$0.00,0.000,$0.00,19.0,5.0,4.0,3.0,3.0,4.0,0.0
5,CO,Colorado,"$12,795,525,493.00","$857,637,396.00",0.067,"$46,491,000.00",5.0,1.0,1.0,1.0,1.0,1.0,0.0
6,CT,Connecticut,"$2,739,546,897.00","$276,599,033.00",0.101,"$27,911,334.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,DC,District of Columbia,"$598,243,001.00","$73,848,263.00",0.123,"$18,623,076.00",4.0,1.0,1.0,0.0,1.0,1.0,0.0
8,DE,Delaware,"$567,831,224.00","$112,283,049.00",0.198,"$66,008,234.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,FL,Florida,$0.00,$0.00,0.000,$0.00,11.0,2.0,2.0,3.0,2.0,2.0,0.0
10,GA,Georgia,$0.00,$0.00,0.000,$0.00,4.0,1.0,1.0,1.0,0.0,1.0,0.0
11,HI,Hawaii,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,IA,Iowa,"$6,394,943,025.00","$448,776,797.00",0.070,"$30,292,576.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ID,Idaho,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,IL,Illinois,"$24,059,865,704.00","$1,962,146,676.00",0.082,"$312,219,908.00",6.0,2.0,1.0,1.0,1.0,1.0,0.0
15,IN,Indiana,"$12,751,685,026.00","$1,085,683,295.00",0.085,"$103,236,082.00",2.0,0.0,1.0,1.0,0.0,0.0,0.0
16,KS,Kansas,"$1,756,305,481.00","$158,767,938.00",0.090,"$6,503,379.00",1.0,0.0,0.0,0.0,0.0,1.0,0.0
17,KY,Kentucky,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,LA,Louisiana,"$3,664,111,977.00","$384,344,028.00",0.105,"$52,909,783.00",2.0,0.0,1.0,1.0,0.0,0.0,0.0
19,MA,Massachusetts,"$2,265,472,484.00","$235,255,646.00",0.104,"$45,716,658.00",5.0,1.0,1.0,1.0,1.0,1.0,0.0
20,MD,Maryland,"$3,313,550,990.00","$433,593,390.00",0.131,"$31,454,432.00",3.0,1.0,0.0,2.0,0.0,0.0,0.0
21,ME,Maine,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,MI,Michigan,"$11,067,854,802.00","$950,198,739.00",0.086,"$48,127,549.00",4.0,1.0,1.0,1.0,1.0,0.0,0.0
23,MN,Minnesota,$0.00,$0.00,0.000,$0.00,5.0,1.0,1.0,1.0,1.0,1.0,0.0
24,MO,Missouri,$0.00,$0.00,0.000,$0.00,5.0,2.0,0.0,1.0,1.0,1.0,0.0
25,MS,Mississippi,"$2,249,616,951.00","$255,030,803.00",0.113,"$30,603,696.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,MT,Montana,"$149,796,135.00","$20,555,840.00",0.137,"$3,345,736.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,NC,North Carolina,$0.00,$0.00,0.000,$0.00,4.0,0.0,1.0,1.0,1.0,1.0,0.0
28,ND,North Dakota,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,NE,Nebraska,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,NH,New Hampshire,"$2,369,549,589.00","$180,081,224.00",0.076,"$82,542,292.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,NJ,New Jersey,"$39,461,272,422.00","$2,871,419,711.00",0.073,"$397,552,569.00",4.0,0.0,0.0,2.0,1.0,1.0,0.0
32,NM,New Mexico,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,NV,Nevada,"$33,520,083,578.00","$1,885,621,000.00",0.056,"$127,279,418.00",2.0,0.0,0.0,1.0,1.0,0.0,0.0
34,NY,New York,"$25,545,018,522.00","$2,231,885,589.00",0.087,"$1,116,577,865.00",9.0,2.0,2.0,1.0,3.0,1.0,0.0
35,OH,Ohio,"$3,824,758,134.00","$541,598,207.00",0.142,"$54,280,486.00",8.0,2.0,1.0,2.0,1.0,2.0,0.0
36,OK,Oklahoma,$0.00,$0.00,0.000,$0.00,1.0,0.0,1.0,0.0,0.0,0.0,0.0
37,OR,Oregon,"$1,254,314,057.00","$120,810,711.00",0.096,"$60,405,356.00",2.0,0.0,1.0,0.0,0.0,1.0,0.0
38,PA,Pennsylvania,"$22,766,881,865.00","$1,856,291,582.00",0.082,"$462,263,411.00",8.0,2.0,1.0,2.0,2.0,1.0,0.0
39,PR,Puerto Rico,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,RI,Rhode Island,"$1,707,470,362.00","$152,391,731.00",0.089,"$77,719,783.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,SC,South Carolina,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,SD,South Dakota,"$13,834,301.00","$1,704,952.00",0.123,"$153,446.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,TN,Tennessee,"$9,066,781,322.00","$886,312,510.00",0.098,"$157,367,429.00",4.0,0.0,1.0,1.0,1.0,1.0,0.0
44,TX,Texas,$0.00,$0.00,0.000,$0.00,11.0,2.0,3.0,2.0,1.0,3.0,0.0
45,UT,Utah,$0.00,$0.00,0.000,$0.00,2.0,0.0,1.0,0.0,0.0,1.0,0.0
46,VA,Virginia,"$10,748,305,916.00","$1,037,483,246.00",0.097,"$106,594,915.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,VT,Vermont,$0.00,$0.00,0.000,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,WA,Washington,$0.00,$0.00,0.000,$0.00,4.0,1.0,0.0,1.0,1.0,1.0,0.0
49,WI,Wisconsin,$0.00,$0.00,0.000,$0.00,3.0,1.0,1.0,1.0,0.0,0.0,0.0
50,WV,West Virginia,"$2,051,711,160.00","$172,240,532.00",0.084,"$17,225,963.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,WY,Wyoming,"$260,463,927.00","$26,680,404.00",0.102,"$1,436,139.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#Change the hold column to show as a percentage
team_df['hold']=team_df['hold'].apply(lambda x: "{:.2%}".format(x))
team_df

,state_abbr,state,handle,revenue,hold,taxes,Teams Count,MLB,NBA,NFL,NHL,MLS,NCAA
0,AK,Alaska,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,Alabama,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AR,Arkansas,"$486,217,898.00","$49,119,871.00",10.10%,"$7,134,908.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AZ,Arizona,"$11,005,985,362.00","$907,366,992.00",8.20%,"$51,509,590.00",4.0,1.0,1.0,1.0,1.0,0.0,0.0
4,CA,California,$0.00,$0.00,0.00%,$0.00,19.0,5.0,4.0,3.0,3.0,4.0,0.0
5,CO,Colorado,"$12,795,525,493.00","$857,637,396.00",6.70%,"$46,491,000.00",5.0,1.0,1.0,1.0,1.0,1.0,0.0
6,CT,Connecticut,"$2,739,546,897.00","$276,599,033.00",10.10%,"$27,911,334.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,DC,District of Columbia,"$598,243,001.00","$73,848,263.00",12.30%,"$18,623,076.00",4.0,1.0,1.0,0.0,1.0,1.0,0.0
8,DE,Delaware,"$567,831,224.00","$112,283,049.00",19.80%,"$66,008,234.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,FL,Florida,$0.00,$0.00,0.00%,$0.00,11.0,2.0,2.0,3.0,2.0,2.0,0.0
10,GA,Georgia,$0.00,$0.00,0.00%,$0.00,4.0,1.0,1.0,1.0,0.0,1.0,0.0
11,HI,Hawaii,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,IA,Iowa,"$6,394,943,025.00","$448,776,797.00",7.00%,"$30,292,576.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ID,Idaho,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,IL,Illinois,"$24,059,865,704.00","$1,962,146,676.00",8.20%,"$312,219,908.00",6.0,2.0,1.0,1.0,1.0,1.0,0.0
15,IN,Indiana,"$12,751,685,026.00","$1,085,683,295.00",8.50%,"$103,236,082.00",2.0,0.0,1.0,1.0,0.0,0.0,0.0
16,KS,Kansas,"$1,756,305,481.00","$158,767,938.00",9.00%,"$6,503,379.00",1.0,0.0,0.0,0.0,0.0,1.0,0.0
17,KY,Kentucky,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,LA,Louisiana,"$3,664,111,977.00","$384,344,028.00",10.50%,"$52,909,783.00",2.0,0.0,1.0,1.0,0.0,0.0,0.0
19,MA,Massachusetts,"$2,265,472,484.00","$235,255,646.00",10.40%,"$45,716,658.00",5.0,1.0,1.0,1.0,1.0,1.0,0.0
20,MD,Maryland,"$3,313,550,990.00","$433,593,390.00",13.10%,"$31,454,432.00",3.0,1.0,0.0,2.0,0.0,0.0,0.0
21,ME,Maine,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,MI,Michigan,"$11,067,854,802.00","$950,198,739.00",8.60%,"$48,127,549.00",4.0,1.0,1.0,1.0,1.0,0.0,0.0
23,MN,Minnesota,$0.00,$0.00,0.00%,$0.00,5.0,1.0,1.0,1.0,1.0,1.0,0.0
24,MO,Missouri,$0.00,$0.00,0.00%,$0.00,5.0,2.0,0.0,1.0,1.0,1.0,0.0
25,MS,Mississippi,"$2,249,616,951.00","$255,030,803.00",11.30%,"$30,603,696.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,MT,Montana,"$149,796,135.00","$20,555,840.00",13.70%,"$3,345,736.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,NC,North Carolina,$0.00,$0.00,0.00%,$0.00,4.0,0.0,1.0,1.0,1.0,1.0,0.0
28,ND,North Dakota,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,NE,Nebraska,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,NH,New Hampshire,"$2,369,549,589.00","$180,081,224.00",7.60%,"$82,542,292.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,NJ,New Jersey,"$39,461,272,422.00","$2,871,419,711.00",7.30%,"$397,552,569.00",4.0,0.0,0.0,2.0,1.0,1.0,0.0
32,NM,New Mexico,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,NV,Nevada,"$33,520,083,578.00","$1,885,621,000.00",5.60%,"$127,279,418.00",2.0,0.0,0.0,1.0,1.0,0.0,0.0
34,NY,New York,"$25,545,018,522.00","$2,231,885,589.00",8.70%,"$1,116,577,865.00",9.0,2.0,2.0,1.0,3.0,1.0,0.0
35,OH,Ohio,"$3,824,758,134.00","$541,598,207.00",14.20%,"$54,280,486.00",8.0,2.0,1.0,2.0,1.0,2.0,0.0
36,OK,Oklahoma,$0.00,$0.00,0.00%,$0.00,1.0,0.0,1.0,0.0,0.0,0.0,0.0
37,OR,Oregon,"$1,254,314,057.00","$120,810,711.00",9.60%,"$60,405,356.00",2.0,0.0,1.0,0.0,0.0,1.0,0.0
38,PA,Pennsylvania,"$22,766,881,865.00","$1,856,291,582.00",8.20%,"$462,263,411.00",8.0,2.0,1.0,2.0,2.0,1.0,0.0
39,PR,Puerto Rico,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40,RI,Rhode Island,"$1,707,470,362.00","$152,391,731.00",8.90%,"$77,719,783.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,SC,South Carolina,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,SD,South Dakota,"$13,834,301.00","$1,704,952.00",12.30%,"$153,446.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,TN,Tennessee,"$9,066,781,322.00","$886,312,510.00",9.80%,"$157,367,429.00",4.0,0.0,1.0,1.0,1.0,1.0,0.0
44,TX,Texas,$0.00,$0.00,0.00%,$0.00,11.0,2.0,3.0,2.0,1.0,3.0,0.0
45,UT,Utah,$0.00,$0.00,0.00%,$0.00,2.0,0.0,1.0,0.0,0.0,1.0,0.0
46,VA,Virginia,"$10,748,305,916.00","$1,037,483,246.00",9.70%,"$106,594,915.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
47,VT,Vermont,$0.00,$0.00,0.00%,$0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48,WA,Washington,$0.00,$0.00,0.00%,$0.00,4.0,1.0,0.0,1.0,1.0,1.0,0.0
49,WI,Wisconsin,$0.00,$0.00,0.00%,$0.00,3.0,1.0,1.0,1.0,0.0,0.0,0.0
50,WV,West Virginia,"$2,051,711,160.00","$172,240,532.00",8.40%,"$17,225,963.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,WY,Wyoming,"$260,463,927.00","$26,680,404.00",10.20%,"$1,436,139.00",0.0,0.0,0.0,0.0,0.0,0.0,0.0